---
title: Le Wagon Middleman boilerplate
---

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "background.jpg"%>');">
  <div class="banner-content">
    <h1>Welcome Home</h1>
    <p>Rent unique places to stay from local hosts in 190+ countries.</p>
    <form action="#" class="form-inline">
      <input type="text" class="form-control input-lg" placeholder="checkin">
      <input type="text" class="form-control input-lg" placeholder="checkout">
      <select name="" id="" class="form-control input-lg">
        <option value="1">1 person</option>
        <option value="2">2 persons</option>
        <option value="3">3 persons</option>
      </select>
      <input type="submit" class="btn btn-primary btn-lg" value="Search">
    </form>
  </div>
</div>
<div class="container text-center padded">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <img src="images/globe.png" alt="globe">
      <h3>Discover the world</h3>
      <p>The earth is your new home.</p>
    </div>
    <div class="col-xs-12 col-sm-3">
      <img src="images/dollar.png" alt="dollar">
      <h3>Pay online</h3>
      <p>No cash issues anymore.</p>
    </div>
    <div class="col-xs-12 col-sm-3">
      <img src="images/beer.png" alt="beer">
      <h3>Meet people</h3>
      <p>Discover new culture and lifestyle.</p>
    </div>
    <div class="col-xs-12 col-sm-3">
      <img src="images/heart.png" alt="heart">
      <h3>Share and love</h3>
      <p>Join a community you will love.</p>
    </div>
  </div>
</div>
<div class="wrapper-grey padded">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Your next trip</h2>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "card-brussels.jpeg"%>');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <%= image_tag "anne.jpg", class: "card-user avatar-medium" %>
          <a class="card-link" href="#" ></a>
        </div>
        <!-- insert <div class="card"> -->
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "card-london.jpeg"%>');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <%= image_tag "romain.jpg", class: "card-user avatar-medium" %>
          <a class="card-link" href="#" ></a>
        </div>
        <!-- insert <div class="card"> -->
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "card-paris.jpg"%>');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <%= image_tag "seb.jpg", class: "card-user avatar-medium" %>
          <a class="card-link" href="#" ></a>
        </div>
        <!-- insert <div class="card"> -->
      </div>
    </div>
  </div>
</div>
<!-- newsletter> -->
<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 padded">
      <h2>Get news from us</h2>
      <p>Leave us your mail and get news from us</p>
      <form action="#" class="form-inline">
        <input type="email" placeholder ="bob.gmail.com" class="form-control">
        <input type="submit" value="Subscribe" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
<div id="map" style="width: 100%; height: 400px;"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
  var myLatlng = new google.maps.LatLng(52.342496, 4.896040);

  var myOptions = {
    zoom: 16,
    center: myLatlng,
    scrollwheel: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: [
    {
      "featureType": "water",
      "elementType": "geometry",
      "stylers": [
      {
        "color": "#004358"
      }
      ]
    },
    {
      "featureType": "landscape",
      "elementType": "geometry",
      "stylers": [
      {
        "color": "#1f8a70"
      }
      ]
    },
    {
      "featureType": "poi",
      "elementType": "geometry",
      "stylers": [
      {
        "color": "#1f8a70"
      }
      ]
    },
    {
      "featureType": "road.highway",
      "elementType": "geometry",
      "stylers": [
      {
        "color": "#fd7400"
      }
      ]
    },
    {
      "featureType": "road.arterial",
      "elementType": "geometry",
      "stylers": [
      {
        "color": "#1f8a70"
      },
      {
        "lightness": -20
      }
      ]
    },
    {
      "featureType": "road.local",
      "elementType": "geometry",
      "stylers": [
      {
        "color": "#1f8a70"
      },
      {
        "lightness": -17
      }
      ]
    },
    {
      "elementType": "labels.text.stroke",
      "stylers": [
      {
        "color": "#ffffff"
      },
      {
        "visibility": "on"
      },
      {
        "weight": 0.9
      }
      ]
    },
    {
      "elementType": "labels.text.fill",
      "stylers": [
      {
        "visibility": "on"
      },
      {
        "color": "#ffffff"
      }
      ]
    },
    {
      "featureType": "poi",
      "elementType": "labels",
      "stylers": [
      {
        "visibility": "simplified"
      }
      ]
    },
    {
      "elementType": "labels.icon",
      "stylers": [
      {
        "visibility": "off"
      }
      ]
    },
    {
      "featureType": "transit",
      "elementType": "geometry",
      "stylers": [
      {
        "color": "#1f8a70"
      },
      {
        "lightness": -10
      }
      ]
    },
    {},
    {
      "featureType": "administrative",
      "elementType": "geometry",
      "stylers": [
      {
        "color": "#1f8a70"
      },
      {
        "weight": 0.7
      }
      ]
    }
    ]};

    var map = new google.maps.Map(document.getElementById('map'), myOptions);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: "You are here!"
    });
  </script>

